# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# Robot Framework
log.html
report.html
output.xml
selenium-screenshot-*.png
results/

# Appium
*.log
*.trace
*.har

# Environment
.env
.env.local
.env.*.local

# Mobile
*.ipa
*.apk
!apps/android/TestApp.apk

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace/

# Android Studio
*.iml
.gradle/
/local.properties
/.idea/workspace.xml
/.idea/libraries
/build
/captures
.externalNativeBuild
